<template>
  <div class="upload-form__container">
      <form action="/">
        <input class="upload-form__input" name="file" type="file" id="file" @change="selectFile" />
        <label for="file" class="upload-form__input-label">
          Choose your destiny...
        </label>
      </form>

      <button class="upload-form__print-button" @click="uploadFile">Jojoto</button>
  </div>
</template>

<script>
export default {
  data () {
    return {
      file: undefined
    }
  },

  methods: {
    uploadFile () {
      if ( !this.file ) return

      return this.$axios.$get( `/getUrl`, {
        params: {
          name: this.file.name,
          type: this.file.type
        }
      } )
        .then( result => {
          const signedUrl = result.data

          return this.$axios.$put( signedUrl, this.file, {
            headers: {
              'Content-Type': this.file.type
            }
          } )
        } )
        .then( console.log )
        .catch( console.log )
    },

    selectFile ( evt ) {
      console.log( process.env.WAREVER )
      if ( evt.target.files.length ) {
        this.file = evt.target.files[0]
      }
    }
  }
}
</script>

<style lang='stylus'>
.upload-form {
  &__container {
    background: #35495E;
    max-width: 700px;
    border-radius: 20px;
    padding: 20px 0;
    margin: 0 auto;
  }

  &__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  &__input-label {
    display: block;
    width: 30%;
    height: 24px;
    line-height: 24px;
    margin: 15px auto;
    color: white;
    background: teal;
    border-radius: 5px;
  }

  &__print-button {
    height: 20px;
    background: #41B883;
    border: none;
    border-radius: 5px;

    &:active {
      background: #41B883;
    }
  }
}
</style>
